[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
luigi = "*"
pandas = "*"
pyspark = "*"
dynaconf = "*"
sodapy = "*"
boto3 = "*"
datetime = "*"
psycopg2 = "==2.7.5"
pyarrow = "*"
wget = "*"
requests = "*"
s3fs = "*"
marbles = "*"
pyscopg = "==2.7.5"

[requires]
python_version = "3.7"
