[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
luigi = "*"
pandas = "*"
pyspark = "*"
dynaconf = "*"
sodapy = "*"
boto3 = "*"
datetime = "*"
pyarrow = "*"
wget = "*"
requests = "*"
psycopg2 = "==2.7.5"
postgres = "*"
psycopg2-binary = "*"
flask = "*"

[requires]
python_version = "3.7"
